
nav {
  display: flex;
  flex-direction: column;
}
.bar_searchetnotification {
  padding: 10px 0px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: 400px;
  justify-content: space-around;
}
.bar_searchetnotification input {
  height: fit-content;
  padding: 5px;
  border-radius: 50px;
}
.bar_searchetnotification {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section2_nav {
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
}
.section2_nav a {
  text-decoration: none;
  color: rgb(36, 36, 36);
}
.section2_nav a:hover {
  text-decoration: none;
  color: rgba(8, 0, 255, 0.442);
}
.logo {
  width: 100px;
}
main {
  padding: 10px;
}

@media (min-width: 700px) {
  .bar_searchetnotification,
  .section2_nav {
    min-width: 100%;
    justify-content: space-evenly;
  }
  .section2_nav a {
    font-size: 1.5rem;
  }
  .logo {
    width: 150px;
  }
  .bar_searchetnotification input {
    height: fit-content;
    padding: 15px;
    border-radius: 10px;
    width: 25%;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

/* Hero Section */
.hero {
  height: 100vh; /* full screen height */
  background: url("images/AA1ANiaA.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Optional dark overlay for better text contrast */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

/* Hero text */
.hero-content {
  position: relative;
  text-align: center;
  color: white;
  z-index: 1;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn {
  background: #316dcc;
  color: white;
  padding: 12px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #00cc63;
}
.discover {
  align-items: center;
  min-width: 100%;
  width: 100%;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 30em;
}
.Dcards {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.object {
  background-image: url(images/earth-from-space-4k-ultra-hd-wallpaper\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100em;
  color: white;
  height: 0px;
}
.ED {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.exp {
  background-color: #00cc63;
}
.der {
  background-color: #316dcc;
}
.der,
.exp,
.object {
  padding: 10px;
}







/*  NAVBAR mobile */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar_searchetnotification {
    padding: 10px 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    width: 100%;
    
}

.bar_searchetnotification input {
    padding: 5px;
    border-radius: 50px;
}

.section2_nav {
    display: flex;
    justify-content: space-evenly;
   
}

.section2_nav a {
    text-decoration: none;
    color: rgb(36, 36, 36);
}

.section2_nav a:hover {
    color: rgba(8, 0, 255, 0.442);
}

.logo {
    width: 100px;
}

/*  Section Activité */
.h1 {
    text-align: center;
    margin-top: 20px;
    color: #003AA6;
}

.contanier {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

}

/* cartes */
.carte1,
.carte2,
.carte3,
.carte4,
.carte5,
.carte6 {
    position: relative;
    border-radius: 16px;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.carte1 {
    background-image: url('images/AA1ANiaA.jpg');
}

.carte2 {
    background-image: url('images/Paragraph+Background.png');
}

.carte3 {
    background-image: url('images/space-exploration-sc_fm1ysf-1024x591.jpg');
}

.carte4 {
    background-image: url('images/Paragraph+Background.png');
}

.carte5 {
    background-image: url('images/space-exploration-sc_fm1ysf-1024x591.jpg');
}

.carte6 {
    background-image: url('images/Paragraph+Background (1).png');
}

.text1 h1 {
    font-size: 19px;
    color: rgb(161, 7, 7);
    margin-left:10px;
    margin-top:10px;
}

.text1 .paragrahpe1 {
    color: white;
    font-size: 15px;
    margin-top: 9px;
    margin-left:10px;
    margin-top:10px;
    line-height:20px;     /*qui pement de faire l'espace entre les lignes */
}

/*  Section événements */
.contanier2 {
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

.cartee1 {
    position: relative;
    border-radius: 16px;
    width: 98%;
    height: 300px;
    background-color: #D0D0D0;
}

.text2 h1 {
    font-size: 19px;
    color: black;
    text-align: center;
}

.text2 .paragrahpe2 {
    color: black;
    line-height: 20px;
    font-size: 15px;
    margin-top: 9px;
    text-align: center;
}



/*  PC grand écran */


@media (min-width: 1000px) {

    .bar_searchetnotification,
    .section2_nav {
        width: 100%;
        justify-content: space-evenly;
    }

    .section2_nav a {
        font-size: 1.5rem;
    }

    .logo {
        width: 150px;
    }

    .bar_searchetnotification input {
        padding: 15px;
        border-radius: 10px;
        width: 25%;
    }


    .contanier {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
    }

    .contanier2 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}






/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! page inscription !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/




/* Section et titre */
.signup { max-width: 520px; margin: 32px auto; padding: 0 12px;}
.signup h2 { text-align: center; margin: 8px 0 16px; color: #003AA6;}

/* Carte formulaire */
.form { background: #fff;border-radius: 6px; padding: 16px; display: grid; gap: 30px; }

/* Champs */
.field { display: grid; gap: 6px; }
.field span { font-size: 14px; color: #555; }
.field input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
} 

.ed span{
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    padding: 0px 20px;
    font-weight: 300px;
    font-weight: bold;
}

/* Groupes (radios/checkboxes) */
.group { border: 0; padding: 0; margin: 0; }
.group legend { font-weight: bold; margin-bottom: 6px; }
.choice { margin-right: 14px; font-size: 14px; }
.choice input { vertical-align: middle; }

/* CGU */
.cgu { display: flex; align-items: center; gap: 8px; font-size: 14px; }

/* Bouton */
.btn-primary {
  width: 100%;
  padding: 12px;
  border: 0;
  border-radius: 10px;
  background: #4b41c8;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.btn-primary:hover { background: #3f37ac; }

.ed{
    position: relative;
}

/* Responsive léger */
@media (max-width: 420px) {
  .choice { display: inline-block; margin-bottom: 6px; }
}





body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #fafafa;
  color: #222;
  scroll-behavior: smooth; 
}


.hero {
  position: relative;
  height: 100vh; 
  background: url('images/missions-hero.jpg') center/cover no-repeat fixed; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

.btn {
  display: inline-block;
  background-color: transparent;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: 2px solid #ffffff63;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #003AA6;
  transform: scale(1.05);
   border: 1px solid #003AA6;
}


.missions {
  text-align: center;
  padding: 3rem 1.5rem;
  background-color: #fafafa;
}

.section-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 2rem;
  
  text-align: center;
  position: relative;
}


.section-title::after {
  content: "";
  display: block;
  width: 100px;           
  height: 3px;           
  background-color: #003AA6; 
  margin: 0.6rem auto 0; 
  border-radius: 2px;
}


.missions-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.mission-card {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: center;
  padding: 1rem;
  width: 100%;
  max-width: 340px;
  transition: transform 0.3s ease;
}

.mission-card:hover {
  transform: translateY(-6px);
}

.mission-card img {
  width: 100%;
  height: 250px;
   object-fit: cover;
  border-radius: 10px;
}

.mission-card h3 {
  margin: 0.8rem 0 0.4rem;
  color: #000;
  font-size: 1.1rem;
}


@media (min-width: 1000px) {
  .hero-content h1 {
    font-size: 3rem;
  }

  .missions-container {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .mission-card {
    width: 28%;
  }

  .section-title {
    font-size: 2rem;
  }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  page cataloge !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


  * { /* setings  for all page */
      border: 0px;
      padding: 0px;
      margin: 0px;
    }

    main {   /* main section de cards */
      display: flex;
      flex-direction: column;
      max-width: 400px;
      align-items: center;
      justify-content: center;
      margin: 20px;
      gap: 100px;
    }
   
    /*section 1*/

    

    /*------------cards  style---------------*/
    .galaxie,
    .Planètes_Lunes,
    .Etoiles_Constellations,
    .Nebuleusess,
    .Trous_noirs {
      display: flex;
      flex-direction: column;
      gap: 50px;
      width: 300px;
      align-items: center;
      justify-content: space-between;

      transition: all 1s;
    }

    /*  */
    .catalog_card,
    .catalog_card2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 70%;
      background-color: #b3b3b3;
      padding: 10px;
      border-radius: 20px;
      gap: 20px;
    }


    .catalog_card div,
    .catalog_card2 div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      justify-content: center;
      gap: 10px;
    }


    .catalog_card img,
    .catalog_card2 img {
      width: 50%;

      border-radius: 20px;
    }
    .label {
      font-size: 2rem;
      color: #525ceb;
position: sticky;
      border-top: 2px solid white;
    }
    h1 {
      font-size: 1.5rem;
    }
    p {
      font-size: 0.8rem;
    }
    h1,
    p {
      color: rgb(0, 0, 0);
      width: fit-content;
    }
    @media (min-width: 600px) {
      main {     /* full screeen */
        max-width: 100%;
      }
      .catalog_card,
      .catalog_card2 {
        display: flex;
        flex-direction: row;
        align-items: center;

        background-color: #b3b3b3;
        padding: 20px;
        border-radius: 20px;
        width: fit-content;
        height:fit-content;
      }
         /* pour revers  cards right image et textes left*/
      .catalog_card2 {
        flex-direction: row-reverse;
      }

      .galaxie,
      .Planètes_Lunes,
      .Etoiles_Constellations,
      .Nebuleusess,
      .Trous_noirs {
        width: 90%;
      }
      .label {
        font-size: 4rem;
        color: rgb(0, 102, 255);
      }
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1.2rem;
        max-width: 60%;
      }
      .catalog_card img,
      .catalog_card2 img {
        width: 30%;
        border-radius: 20px;
      }
      .label_hero {
        font-size: 4rem;
      }
    }

    /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/